<?xml version="1.0"?>
<!--
  The complete turtlebot library of xacros for easy reference
 -->
<robot>
  <!-- General -->
  <include filename="$(find turtlebot_description)/urdf/common_properties.urdf.xacro"/>
  <include filename="$(find lvsnbot_description)/urdf/lvsnbot_properties.urdf.xacro"/>
  <!-- Bases -->
  <include filename="$(find create_description)/urdf/create.urdf.xacro"/>
  <!-- Stacks -->
  <include filename="$(find turtlebot_description)/urdf/stacks/circles.urdf.xacro"/>
  <!-- 3D Sensors -->
  <include filename="$(find lvsnbot_description)/urdf/sensors/kinect.urdf.xacro"/>
</robot>
